/* * { border: 1px solid green; } */

* {
  box-sizing: border-box;
  text-decoration: none;
}

.displayCard {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: black;
    font-family: var(--font-montserrat);
    border: 2px solid black;
    border-radius: 40px;
}

.displayCard > * {
  width: 100%;
}

.displayCard * {
    font-size: 20px;
}

.image {
  width: 300px;
  height: 200px;
  border: none;
  object-fit: cover;
  border-radius: 15px;
}

.title {
  font-weight: 500;
}

.location {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.mapPinIcon {
  height: 25px;
  width: 25px;
}

.city {
  width: 100px;
  font-size: 18px;
}
