.formSection {
     display: flex;
     flex-direction: column;
     border: 1px solid #ccc;
     padding: 40px 20px 20px 20px; /* Added extra padding at the top */
     border-radius: 10px;
     position: relative;
     width: 400px;
     max-width: 600px;
   }
   
   .city, .address, .addressLandmark {
     display: flex;
     flex-direction: column;
     gap: 10px;
   }
   
   .cityInput input, .addressInput input, .addressLandmarkInput input {
     border-radius: 5px;
     padding: 10px;
     border: 1px solid #ccc;
     width: 100%;
     height: 40px; 
     max-width: 500px; 
   }
   
   h2 {
     color: #2c3e50;
     margin-top: 40px; /* Added margin to create gap between back button and header */
   }
   
   .cityName, .addressName, .addressLandmarkName {
     color: #34495e;
     font-weight: bold;
   }
   
   .backButton {
    align-self: flex-end;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer; 
    transition: background-color 0.3s;
   }
   
   .backButton:hover {
     background-color: #1f6391;
   }
   
   .nextButton {
     align-self: flex-end;
     background-color: #2980b9;
     color: #fff;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     cursor: pointer;
     transition: background-color 0.3s;
   }
   
   .nextButton:hover {
     background-color: #1f6391;
   }
   