.mail {
  width: 85px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.confirmMailPasswordChild {
  height: 42px;
  width: 295px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.mail1 {
  width: 169px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 24px;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.confirmMailPassword,
.mailPassword {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirmMailPassword {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-2xs) var(--padding-5xs);
  z-index: 1;
}
.mailPassword {
  width: 295px;
  flex-direction: column;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .mail1 {
    font-size: var(--font-size-base);
  }
}
