.ups-container {
  background-color: #f5f6fa;
  min-height: 100vh;
  margin: 90px 0 30px 0;
}

.ups-mainLayout {
  display: flex;
}

.ups-content {
  flex: 1;
  padding-left: 2rem;
}

.ups-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}

.ups-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.ups-card:hover {
  transform: translateY(-4px);
}

.ups-imageWrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.ups-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ups-tag {
  position: absolute;
  top: 10px;
  left: 15px;
  background: rgb(238, 238, 238);
  color: black;
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 0.75rem;
}

.ups-details {
  padding: 1rem;
}

.ups-location {
  font-size: 0.9rem;
  color: #666;
  margin: 4px 0;
}

.ups-meta {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 6px;
}

.ups-status {
  background: #e3f2fd;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.ups-stats {
  margin-top: 8px;
  font-size: 0.85rem;
  color: #444;
}

.ups-actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.ups-viewBtn,
.ups-removeBtn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.ups-viewBtn {
  background: #784dc6;
  color: white;
}

.ups-removeBtn {
  background: #e53935;
  color: white;
}

.ups-emptyState {
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  max-width: 600px;
  /* background-color: white; */
  border-radius: 12px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ups-emptyTitle {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.ups-emptySubtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.ups-exploreBtn {
  background-color: #784dc6;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
}
