.nav2Child {
  height: 102px;
  width: 1440px;
  position: relative;
  background: linear-gradient(90deg, #2697e0, #784dc6);
  display: none;
  max-width: 100%;
}
.logo {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.tablerhome {
  position: absolute;
  top: 1px;
  left: 3px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  display: none;
}
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tablerhomeParent {
  height: 21px;
  width: 21px;
  position: relative;
}
.home {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.homeContent {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.homeContent,
.homeLink,
.homeNavigation,
.nav2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeLink {
  flex-direction: row;
  gap: var(--gap-6xs);
  cursor: pointer;
  z-index: 1;
}
.homeNavigation,
.nav2 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  text-align: left;
  font-size: var(--font-size-base);
}
.nav2 {
  align-self: stretch;
  background: linear-gradient(90deg, #2697e0, #784dc6);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-20xl) var(--padding-xl) var(--padding-20xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-1068xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .nav2 {
    gap: var(--gap-524xl);
  }
}
@media screen and (max-width: 750px) {
  .nav2 {
    gap: var(--gap-253xl);
  }
}
@media screen and (max-width: 450px) {
  .nav2 {
    gap: var(--gap-117xl);
  }
}
