@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-base: 16px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-lgi: 19px;
  --font-size-8xl-5: 27.5px;
  --font-size-3xl: 22px;
  --font-size-7xl: 26px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-36xl: 55px;
  --font-size-14xl: 33px;
  --font-size-25xl: 44px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-whitesmoke-100: #f2f3f5;
  --color-whitesmoke-200: #f5f0f0;
  --color-slateblue: #784dc6;
  --color-gray-100: #fffefe;
  --color-gray-200: #7c7878;
  --color-gray-300: #1f1f1f;
  --color-gray-400: rgba(0, 0, 0, 0.3);
  --color-gray-500: rgba(0, 0, 0, 0.5);
  --color-cornflowerblue-100: #458adc;
  --color-cornflowerblue-200: #2697e0;
  --color-gainsboro-100: #d9d9d9;
  --color-snow: #fffbfb;

  /* Gaps */
  --gap-lg: 18px;
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-12xl: 31px;
  --gap-7xl: 26px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-2xl: 21px;
  --gap-sm: 14px;
  --gap-39xl-6: 58.6px;
  --gap-10xl: 29px;
  --gap-9xs: 4px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-6xl: 25px;
  --gap-51xl: 70px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-28xl-6: 47.6px;
  --gap-8xl-3: 27.3px;
  --gap-5xs: 8px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-17xl: 36px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-96xl: 115px;
  --gap-38xl: 57px;
  --gap-33xl: 52px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-184xl: 203px;
  --gap-32xl: 51px;
  --gap-82xl: 101px;
  --gap-7xs: 6px;
  --gap-2xs: 11px;
  --gap-1068xl: 1087px;
  --gap-524xl: 543px;
  --gap-117xl: 136px;
  --gap-253xl: 272px;
  --gap-6xs: 7px;
  --gap-21xl: 40px;
  --gap-180xl: 199px;
  --gap-31xl: 50px;
  --gap-80xl: 99px;
  --gap-4xl: 23px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-44xl: 63px;
  --gap-4xs: 9px;
  --gap-59xl-7: 78.7px;
  --gap-20xl: 39px;
  --gap-61xl: 80px;
  --gap-8xs-8: 4.8px;
  --gap-11xs: 2px;
  --gap-59xl: 78px;
  --gap-55xl: 74px;
  --gap-18xl: 37px;
  --gap-60xl: 79px;
  --gap-8xs: 5px;
  --gap-43xl-9: 62.9px;
  --gap-5xl-8: 24.8px;
  --gap-6xl-5: 25.5px;
  --gap-23xl: 42px;
  --gap-62xl: 81px;
  --gap-xl-8: 20.8px;
  --gap-14xl-1: 33.1px;
  --gap-15xl: 34px;
  --gap-8xl-7: 27.7px;
  --gap-63xl-6: 82.6px;
  --gap-22xl: 41px;
  --gap-49xl-4: 68.4px;
  --gap-54xl-4: 73.4px;
  --gap-53xl: 72px;
  --gap-10xs: 3px;
  --gap-11xl-2: 30.2px;
  --gap-24xl: 43px;
  --gap-61xl-3: 80.3px;
  --gap-56xl: 75px;
  --gap-59xl-3: 78.3px;
  --gap-104xl: 123px;
  --gap-42xl: 61px;
  --gap-smi: 13px;
  --gap-xs: 12px;
  --gap-58xl: 77px;
  --gap-40xl-4: 59.4px;
  --gap-41xl-8: 60.8px;
  --gap-14xl-8: 33.8px;
  --gap-41xl-7: 60.7px;
  --gap-47xl-8: 66.8px;
  --gap-14xl: 33px;
  --gap-18xl-2: 37.2px;
  --gap-15xl-4: 34.4px;
  --gap-619xl: 638px;
  --gap-140xl: 159px;
  --gap-300xl: 319px;
  --gap-10xl-5: 29.5px;
  --gap-74xl: 93px;
  --gap-27xl: 46px;
  --gap-37xl: 56px;
  --gap-48xl: 67px;

  /* Paddings */
  --padding-70xl: 89px;
  --padding-101xl: 120px;
  --padding-49xl: 68px;
  --padding-39xl: 58px;
  --padding-25xl: 44px;
  --padding-11xl: 30px;
  --padding-41xl: 60px;
  --padding-23xl: 42px;
  --padding-22xl: 41px;
  --padding-xl: 20px;
  --padding-8xl: 27px;
  --padding-19xl: 38px;
  --padding-17xl: 36px;
  --padding-27xl: 46px;
  --padding-24xl: 43px;
  --padding-15xl: 34px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-126xl: 145px;
  --padding-2xl: 21px;
  --padding-10xl: 29px;
  --padding-12xl: 31px;
  --padding-18xl: 37px;
  --padding-5xl: 24px;
  --padding-lgi: 19px;
  --padding-124xl: 143px;
  --padding-48xl: 67px;
  --padding-37xl: 56px;
  --padding-14xl: 33px;
  --padding-4xl: 23px;
  --padding-smi: 13px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-3xl: 22px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-7xl: 26px;
  --padding-sm: 14px;
  --padding-45xl: 64px;
  --padding-135xl: 154px;
  --padding-62xl: 81px;
  --padding-13xl: 32px;
  --padding-46xl: 65px;
  --padding-21xl: 40px;
  --padding-9xl: 28px;
  --padding-81xl: 100px;
  --padding-20xl: 39px;
  --padding-32xl: 51px;
  --padding-6xl: 25px;
  --padding-mid: 17px;
  --padding-mini: 15px;
  --padding-base: 16px;
  --padding-47xl: 66px;
  --padding-277xl: 296px;
  --padding-51xl: 70px;
  --padding-40xl: 59px;
  --padding-29xl: 48px;
  --padding-36xl: 55px;
  --padding-11xs: 2px;
  --padding-34xl: 53px;
  --padding-12xs: 1px;
  --padding-44xl: 63px;
  --padding-84xl: 103px;
  --padding-188xl: 207px;
  --padding-10xs: 3px;
  --padding-43xl: 62px;
  --padding-30xl: 49px;
  --padding-38xl: 57px;
  --padding-16xl: 35px;
  --padding-110xl: 129px;
  --padding-93xl: 112px;
  --padding-10xs-7: 2.7px;
  --padding-7xs: 6px;
  --padding-71xl: 90px;
  --padding-8xs-3: 4.3px;
  --padding-4xs-7: 8.7px;
  --padding-96xl: 115px;
  --padding-156xl: 175px;
  --padding-10xs-5: 2.5px;
  --padding-111xl: 130px;
  --padding-65xl: 84px;
  --padding-144xl: 163px;
  --padding-87xl: 106px;
  --padding-55xl: 74px;
  --padding-95xl: 114px;
  --padding-127xl: 146px;
  --padding-76xl: 95px;
  --padding-10xs-3: 2.3px;
  --padding-6xs-8: 6.8px;
  --padding-7xs-8: 5.8px;
  --padding-35xl: 54px;
  --padding-50xl: 69px;
  --padding-61xl: 80px;
  --padding-21xl-8: 40.8px;
  --padding-12xs-2: 0.2px;
  --padding-12xs-1: 0.1px;
  --padding-12xs-3: 0.3px;
  --padding-11xl-8: 30.8px;
  --padding-xs-2: 11.2px;
  --padding-2xs-2: 10.2px;
  --padding-4xs-2: 8.2px;
  --padding-82xl: 101px;
  --padding-179xl: 198px;
  --padding-52xl: 71px;
  --padding-31xl: 50px;
  --padding-26xl: 45px;
  --padding-53xl: 72px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-11xl: 30px;
  --br-24xl: 43px;
  --br-81xl: 100px;
  --br-13xl: 32px;
  --br-11xs: 2px;
  --br-71xl: 90px;
  --br-10xs: 3px;
  --br-3xl: 22px;
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-4xs: 9px;
  --br-6xl: 25px;
}
  
* {
  font-family: var(--font-montserrat);
}
